body{
    background-color: rgb(218, 238, 255);
}

p{
    color: rgb(198, 144, 249);
    font-size: 50px;
    background-color: rgb(7, 61, 240);
    font-style: oblique;
    font-weight: lighter;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: rgb(255, 0, 0);
    font-size: 100px;
    text-align: right;
    word-spacing: 20px;
}